<%- include("partials/header")%>
<%- include("partials/nav")%>

<h2>Registered Users</h2>
<hr>
<form action="/search" method="post">
    <input type="text" placeholder=" Search By Username" name="username">
</form>

<%Users.forEach(function(user){%>
    <h1><%=user.username%></h1>
    <p><%= user.email%></p>
    <a href="/delete/<%= user._id%>">Delete</a>
    <a href="/Update/<%= user._id%>">Update</a>
<%})%>

<%- include("partials/footer")%>

